@media (max-width: 1199.98px){
    .price img,
    .price2 img{
        transform: scale(0.8);
        left: -10px;
    }
    .book img{
        transform: scale(0.8);
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    nav{
        padding: 10px 70px;
    }
    nav.scrolled{
        padding: 10px 70px;
    }
}
@media (max-width: 991.98px){
    .book img{
        transform: scale(0.65);
        top: -290px;
    }
    .price img,
    .price2 img{
        left: 0px;
    }
    .hand{
        right: 0;
    }
    .hand img{
        transform: scale(0.7);
    }
    header{
        height: 600px;
    }
    footer h3{
        font-size: 20px;
    }
    .comment h5{
        font-size: 18px;
    
    }
    .comment h6{
        font-size: 13px;
    }
    .comment p{
        font-size: 15px;
    }
    .book .top p{
        font-size: 35px;
    }
    .book h3{
        font-size: 35px;
    }
    .tarifs h3, .wish h3, .app h3, .comments h3{
        font-size: 35px;
    }
    .tarifs h4, .wish h4, .app h4, .comments h4{
        font-size: 30px;
    }
    
}
@media (max-width: 767.98px){
    .links{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        flex-direction: column;
        background: #000;
        padding: 40px 0;
        display: none;
    }
    .link{
        margin: 10px 0;
    }
    .logo p{
        margin-bottom: 0;
    }
    .bars{
        display: block;
        font-size: 40px;
        color: #fff;
        border: none;
        outline: none;
        background: transparent;
    }
    .book img{
        transform: scale(0.5);
        top: -290px;
        margin: 0;
        left: -22%;
    }
    header h1{
        font-size: 50px;
    }
    header{
        height: 550px;  
    }
    .book .booking{
        margin-top: 100px;
    }
    .book h4{
        margin-top: 150px;
    }
    .price img, .price2 img{
        transform: scale(0.9);
        left: 20%;
    }
    .wish{
        padding: 75px 0;
        height: 100%;
    }
    .wish h4{
        margin-top: 0;
    }
    .hand{
        display: none;
    }
    .number h2{
        font-size: 20px;
    }
    .number h1{
        font-size: 30px;
    }
}
@media (max-width: 575.98px){
    .book img{
        display: none;
    }
    nav, nav.scrolled{
        padding: 10px;
    }
    .logo h2{
        font-size: 25px;
        margin-left: 0;    
    }
    .logo p{
        font-size: 10px;
        margin-top: 2px;
        text-align: center;
    }
    .price img, .price2 img{
        transform: scale(0.8);
        left: 0;
    }
    .dawnload{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dawnload a, .dawnload a img{
        margin: 10px 0;
    }
    .price img, .price2 img{
        display: none;
    }
    .price, .price2{
        margin-top: 30px;
        padding: 25px;
    }
    .app{
        height: 100%;
        padding: 40px 0;
    }
    .book .bottom{
        padding: 0 20px;
    }
    .wish .sircle{
        margin: 5px auto;
    }
    .wish h5, .wish p{
        text-align: center;
    }
    .wish .square2, .wish .square1{
        margin: 10px 0;
    }
    .comment img{
        
    }
    .comment h6, .comment h5{
        margin-left: 0;
    }
    .book h4{
        margin-top: 0;
    }
    header h1{
        font-size: 35px;
    }
    header h5{
        font-size: 25px;
    }
}